In [2]:
import numpy
import pandas as pd

In [13]:
names = ['jessica','mary','jhon','rosy','bean','joseph']
births = [978,676,433,2309,392,676]
c = list(zip(names,births))
c

[('jessica', 978),
 ('mary', 676),
 ('jhon', 433),
 ('rosy', 2309),
 ('bean', 392),
 ('joseph', 676)]

In [14]:
df = pd.DataFrame(data = c, columns = ['names','births'])
df

     names  births
0  jessica     978
1     mary     676
2     jhon     433
3     rosy    2309
4     bean     392
5   joseph     676

In [15]:
df.to_csv('file1.csv', index = False, header = False)
#df.to_csv('file1.csv', index = True, header = True)

In [16]:
#df = pd.read_csv(r'C:\Users\Abhiram\Desktop\data science\file1')
df = pd.read_csv(r'C:\Users\Abhiram\Desktop\data science\file1.csv', names = ['names','births'])
df

FileNotFoundError: [Errno 2] File b'C:\\Users\\Abhiram\\Desktop\\data science\\file1.csv' does not exist: b'C:\\Users\\Abhiram\\Desktop\\data science\\file1.csv'

In [17]:
df.dtypes
df.names.dtypes
df.births.dtypes

dtype('int64')

In [18]:
df['births'].max()

2309

In [19]:
df.sort_values(['births'], ascending = False)

     names  births
3     rosy    2309
0  jessica     978
1     mary     676
5   joseph     676
2     jhon     433
4     bean     392

In [20]:
df.loc[df['births'] < 600, ['names','births']]
#df.loc[df['births'] < 600, [0,1]]

  names  births
2  jhon     433
4  bean     392

In [21]:
#df.iloc[(df['births'] < 600).values, ['names','births']]
df.iloc[(df['births'] < 600).values, [0,1]]

  names  births
2  jhon     433
4  bean     392

In [22]:
df.loc[0][0:]

names     jessica
births        978
Name: 0, dtype: object

In [23]:
df.iloc[0,1]

978

In [24]:
df.iloc[:2,]

     names  births
0  jessica     978
1     mary     676

In [25]:
df.loc[:,'births']

0     978
1     676
2     433
3    2309
4     392
5     676
Name: births, dtype: int64

In [26]:
df.iloc[:,1]

0     978
1     676
2     433
3    2309
4     392
5     676
Name: births, dtype: int64

In [27]:
df.ix[:,'births']

C:\Users\Abhiram\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0     978
1     676
2     433
3    2309
4     392
5     676
Name: births, dtype: int64

In [28]:
df.loc[[1,2,3],['names','births']]

  names  births
1  mary     676
2  jhon     433
3  rosy    2309

In [29]:
#df.describe()
df.describe(include='object')
#df.describe(include='all')

       names
count      6
unique     6
top     mary
freq       1

In [30]:
#df.mean()
df.mean(axis=0)
#df.mean(axis=1)

births    910.666667
dtype: float64

In [31]:
df.loc[:,'births'].mean()
df.loc[:,'births'].median()

676.0

In [32]:
#df.median()
df.median(axis=0)
#df.median(axis=1)

births    676.0
dtype: float64

In [33]:
#df.mode()
df.mode(axis=0)

     names  births
0     bean   676.0
1  jessica     NaN
2     jhon     NaN
3   joseph     NaN
4     mary     NaN
5     rosy     NaN

In [34]:
df.shape

(6, 2)

In [36]:
#df.columns = ['A','B']
df.columns = ['names','birth']
#df.index = ['row1','row2','row3']
df

     names  birth
0  jessica    978
1     mary    676
2     jhon    433
3     rosy   2309
4     bean    392
5   joseph    676

In [41]:
#accessing specific column
df['birth']  #series
df[['birth']]  #dataframe
df[['birth']].head(3)
df[['names']].tail(3)

    names
3    rosy
4    bean
5  joseph

In [44]:
df[['names']].take([4])

  names
4  bean